<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>

        <tab id="santi_extensions" translate="label" sortOrder="1000">
            <label>Santi Extensions</label>
        </tab>

        <section id="santi_hreflang"
                 translate="label"
                 sortOrder="200"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">

            <label>Hreflang</label>
            <tab>santi_extensions</tab>
            <resource>Magento_Config::config</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">

                <label>General</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">

                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>

        </section>

    </system>
</config>
